# Django настройки
DEBUG=False
SECRET_KEY=your-secret-key-here
# ВАЖНО: Заменить на сгенерированный ключ: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
ALLOWED_HOSTS=158.160.123.240,localhost,127.0.0.1

# База данных PostgreSQL
# ВАЖНО: Для production используйте более сложный пароль!
# POSTGRES_HOST:
#   - Для запуска на сервере (без Docker): localhost
#   - Для запуска в Docker контейнере: db
POSTGRES_DB=drf_db
POSTGRES_USER=drf_user
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Redis настройки
# REDIS_URL:
#   - Для запуска на сервере (без Docker): redis://localhost:6379/0
#   - Для запуска в Docker контейнере: redis://redis:6379/0
REDIS_URL=redis://localhost:6379/0

# Email настройки
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@example.com

# Stripe настройки (тестовые ключи)
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
STRIPE_SECRET_KEY=sk_test_your_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
